<!-- Navbar Start -->
<nav class="navbar navbar-light navbar-fixed-top" style="background-color: #FFF;" role="banner">
    <div class="container">

        <div class="navbar-header" style="font-family: 'Permanent Marker', cursive;">

            <!-- Telefon ekranları için menü butonu -->
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- İsim Soyisim veya Marka İsmi -->
            <a href="{% url 'post:index' %}" class="navbar-brand" style="font-size: 30px; color:#00acee;">SPARTACUS</a>
        </div>

        <nav class="collapse navbar-collapse" role="navigation">

            <!-- Arama Çubuğu -->
            <form class="navbar-form navbar-left" role="search" method="GET" action="">
                <div class="input-group">
                    <input class="form-control" type="text" name="q" placeholder="Blog içi Arama"
                        value="{{ request.GET.q }}">
                    <span class="input-group-btn">
                        <input class="btn btn-default" type="submit" value="Ara">
                    </span>
                </div>
            </form>
            <div style="font-family: 'Righteous', sans-serif; font-size: 16px;">
                <!-- Temel Sayfalar -->
                <ul class="nav navbar-nav navbar-right">
                    {% if request.user.is_authenticated %}
                    <li><a style="color:#00acee;">{{ request.user }}</a></li>
                    <li><a href="{% url 'post:create' %}" style="color:#00acee;">Yazı Ekle</a></li>
                    {% endif %}
                    <li><a href="{% url 'post:index' %}" style="color:#00acee;">Blog</a></li>
                    <li><a href="#" style="color:#00acee;">Hakkımda</a></li>

                    {% if not request.user.is_authenticated %}
                    <li><a href="{% url 'accounts:register' %}" style="color:#00acee;">Üye Ol</a></li>
                    <li><a href="{% url 'accounts:login' %}" style="color:#00acee;">Giriş</a></li>
                    {% else %}
                    <li><a href="{% url 'accounts:logout' %}" style="color:#00acee;">Çıkış</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>

    </div>
</nav>